[submodule "artisanal"]
	path = artisanal
	url = https://bitbucket.org/bredeson/artisanal
[submodule "gbs-analysis"]
	path = gbs-analysis
	url = https://bitbucket.org/rokhsar-lab/gbs-analysis
[submodule "map4cns"]
	path = map4cns
	url = https://bitbucket.org/rokhsar-lab/map4cns
[submodule "wgs-analysis"]
	path = wgs-analysis
	url = https://bitbucket.org/rokhsar-lab/wgs-analysis
