[submodule "artisanal"]
	path = software/artisanal
	url = https://bitbucket.org/bredeson/artisanal
[submodule "gbs-analysis"]
	path = software/gbs-analysis
	url = https://bitbucket.org/rokhsar-lab/gbs-analysis
[submodule "map4cns"]
	path = software/map4cns
	url = https://bitbucket.org/rokhsar-lab/map4cns
[submodule "wgs-analysis"]
	path = software/wgs-analysis
	url = https://bitbucket.org/rokhsar-lab/wgs-analysis
